<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@ 嘻嘻个人 blog</title>
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="../../static/assets/css/admin.css">
  <link rel="stylesheet" href="../../static/editormd/css/editormd.css" />
  <script src="../../static/js/jquery.min.js" type="text/javascript" charset="utf-8" ></script>
  <script src="../../static/assets/js/amazeui.min.js" type="text/javascript" charset="utf-8" ></script>
</head>
<body>
  <div class="header">
  </div>

<div class="am-cf admin-main">
  <!-- sidebar start -->
 <div class ="navList">
   
 </div>
   <script src="../../static/js/baseHtml.js" type="text/javascript" charset="utf-8" ></script>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content" style="padding-top:40px; ">
    <div class="admin-content-body am-g" >
      <div class="am-u-sm-11 am-u-sm-centered">

       <form class="am-form am-form-horizontal">
            <div class="am-form-group">
              <label for="title" class="am-u-sm-2 am-form-label">标题</label>
              <div class="am-u-sm-10">
                <input type="text" id="title" value="" placeholder="标题">
              </div>
            </div>
            <br/>
            <div class="am-form-group">
              <label for="keyword" class="am-u-sm-2 am-form-label">关键字</label>
              <div class="am-u-sm-10">
                <input type="text" id="keyword"value="" placeholder="关键字">
              </div>
            </div>
            <br/>
            <div class="am-form-group">
              <label for="classify" class="am-u-sm-2 am-form-label">类型</label>
              <div class="am-u-sm-10">
                <input type="number" id="classify" value="" placeholder="1">
              </div>
            </div>
            <br/>
            <div class="am-form-group">
              <label for="user-intro" class="am-u-sm-2 am-form-label">内容</label>
              <div class="am-u-sm-10">
                 <div id ="editor" >
                  <textarea style="display:none;" ></textarea>     
                </div>
              </div>
              <div class="am-u-sm-6">
                <button type="button" class="am-btn am-btn-primary preserves">保存修改</button>
              </div>
            </div>
          </form>
      </div>
    </div>
    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© ©嘻嘻 &nbsp &nbsp&nbsp 2023-03</p>
    </footer>
  </div>
  <!-- content end -->
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="../../static/editormd/editormd.min.js"></script>
<script src="../../static/js/Request.js"></script>

<script type="text/javascript">
$(function() {
    var editor = editormd("editor", {
        width  : "100%",
        height : "600px",
        path   : "../../static/editormd/lib/"
    });
    

  var articleID = localStorage.getItem('articleID')
  if(articleID==null ){
    articleID = 0;
  }
  if(articleID!=0){
    var retInfo  = askRequest('/api/article/look',{'id':articleID});
    if(retInfo.result==1){
      $("#editor").find('textarea').html(retInfo.data.Cent)
      $("#title").val(retInfo.data.Title)
      $("#classify").val(retInfo.data.Classify)
      $("#keyword").val(retInfo.data.Keyword)
    }
  }

  $(".preserves").click(function(){
    title = $("#title").val();
    keyword = $("#keyword").val();
    classify = $("#classify").val();
    cent = editor.getMarkdown();
    if(title == "" || keyword == "" || cent=="" || classify=="" ){
      alert("输入框不能为空");
      return false;
    }
    var retInfo  = askRequest('/api/article/Edit',{'id':articleID,"cent":cent,"title":title,"keyword":keyword,"classify":classify});
    if(retInfo.result==1){
      localStorage.removeItem('articleID')
      articleID = 0;
      alert(retInfo.msg)
      window.location.href = './article.html';
    }
   return false;

  });
});

//     testEditor.getMarkdown();       // 获取 Markdown 源码
// testEditor.getHTML();           // 获取 Textarea 保存的 HTML 源码
// testEditor.getPreviewedHTML() //获取预览窗口里的 HTML，在开启 watch 且没有开启 saveHTMLToTextarea 时使用
</script>

</body>
</html>
